{% extends 'lizard_ui/lizardbase.html' %}

{% block content %}
<div id="textual">
test...

<br/>

NP Ratio

<img src="http://127.0.0.1:8000/graph/?graph=np-ratio&dt_start=2005-03-05%2018:00:00&dt_end=2011-04-01%2000:00:00&width=900&height=300&location=PGMO"/>

<br/>

Extinctie (location=MBP005, MBP012, MBP014, MBP016, MBP045, SAP010)

<img src="http://127.0.0.1:8000/graph/?graph=extinctie&dt_start=2005-03-05%2018:00:00&dt_end=2011-04-01%2000:00:00&width=900&height=300&location=MBP005"/>

<br/>

NP-belasting (location=PGMO, 2540, 3201)

<img src="http://127.0.0.1:8000/graph/?graph=np-belasting&dt_start=2005-03-05%2018:00:00&dt_end=2011-04-01%2000:00:00&width=900&height=300&location=PGMO"/>

<br/>

EKR scores (met dummy gegevens, wel zelf op te geven locatie)

<img src="http://127.0.0.1:8000/graph/bar/?graph=ekr-scores&dt_start=2005-03-05%2018:00:00&dt_end=2005-04-01%2000:00:00&width=900&height=300&location=PGMO"/>

<br/>

Cumulatief debiet (locaties vast ingevoerd, moet nog location_wildcard worden)

<img src="http://127.0.0.1:8000/graph/?graph=cumulatief-debiet&dt_start=2005-03-05%2018:00:00&dt_end=2011-04-01%2000:00:00&width=900&height=300"/>

<br/>

Toon waterpeil

<img src="http://127.0.0.1:8000/graph/?graph=waterpeil&dt_start=2005-03-05%2018:00:00&dt_end=2011-04-01%2000:00:00&width=900&height=300&location=SAP"/>


<br/>

Hydraulische belasting (locaties SAP, PGMO, LOOS)

<img src="http://127.0.0.1:8000/graph/?graph=hydraulische-belasting&dt_start=2005-03-05%2018:00:00&dt_end=2011-04-01%2000:00:00&width=900&height=300&location=SAP"/>

<br/>

Chloride (locaties SAP002, SAP010, SAP011, SAP044, VEC014, VEC016)

<img src="http://127.0.0.1:8000/graph/?graph=chloride&dt_start=2005-03-05%2018:00:00&dt_end=2011-04-01%2000:00:00&width=900&height=300&location=SAP002"/>

</div>
{% endblock %}
